TestApp/Service References/PageService/PageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54933/PageService.svc?xsd=xsd2" namespace="http://example.com" />
  <xs:element name="GetPageByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://example.com" minOccurs="0" name="GetPageByIDResult" nillable="true" type="q1:Page" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://example.com" minOccurs="0" name="GetPagesResult" nillable="true" type="q2:ArrayOfPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>