TestApp/Service References/PageService/PageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://example.com" elementFormDefault="qualified" targetNamespace="http://example.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Page">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Page" nillable="true" type="tns:Page" />
  <xs:complexType name="ArrayOfPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Page" nillable="true" type="tns:Page" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPage" nillable="true" type="tns:ArrayOfPage" />
</xs:schema>