TestApp/Service References/PageService/PageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54933/PageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54933/PageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54933/PageService.svc?xsd=xsd2" namespace="http://example.com" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPageService_GetPageByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPageByID" />
  </wsdl:message>
  <wsdl:message name="IPageService_GetPageByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPageService_GetPages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPages" />
  </wsdl:message>
  <wsdl:message name="IPageService_GetPages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPageService">
    <wsdl:operation name="GetPageByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPageService/GetPageByID" message="tns:IPageService_GetPageByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPageService/GetPageByIDResponse" message="tns:IPageService_GetPageByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPages">
      <wsdl:input wsaw:Action="http://tempuri.org/IPageService/GetPages" message="tns:IPageService_GetPages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPageService/GetPagesResponse" message="tns:IPageService_GetPages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPageService" type="tns:IPageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPageByID">
      <soap:operation soapAction="http://tempuri.org/IPageService/GetPageByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPages">
      <soap:operation soapAction="http://tempuri.org/IPageService/GetPages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PageService">
    <wsdl:port name="BasicHttpBinding_IPageService" binding="tns:BasicHttpBinding_IPageService">
      <soap:address location="http://localhost:54933/PageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>