TestApp/Service References/SiteService/SiteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54933/SiteService.svc?xsd=xsd2" namespace="http://example.com" />
  <xs:element name="GetSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://example.com" minOccurs="0" name="GetSitesResult" nillable="true" type="q1:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://example.com" minOccurs="0" name="GetSiteByIDResult" nillable="true" type="q2:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://example.com" minOccurs="0" name="site" nillable="true" type="q3:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://example.com" minOccurs="0" name="CreateSiteResult" nillable="true" type="q4:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://example.com" minOccurs="0" name="site" nillable="true" type="q5:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://example.com" minOccurs="0" name="UpdateSiteResult" nillable="true" type="q6:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSICLookups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSICLookupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://example.com" minOccurs="0" name="GetSICLookupsResult" nillable="true" type="q7:ArrayOfSICLookup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>